{% load static %}
<link rel="stylesheet" href="{% static 'mysite/style.css' %}">

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>---</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
</head>

<body>
    <!--Navbar-->
    <nav class="navbar navbar-expand-sm bg-info py-2 fixed-top">
        <div class="container-fluid">
            <a class="fw-bold fs-2 text-light navbar-brand" href="#">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTLFTp9ezQvwLgJnuvwxR_s9fRyePUCREtS4HwKL3sbhRirEmHuaZAAy0Kt0rWHy4wAh-c&usqp=CAU"
                    alt="" width="50" height="50" class=d-inline-block align-text-top>
                ---
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
                <span class="navbar-toggler-icon">
                </span>
            </button>

            <div class="collapse navbar-collapse" id="navmenu">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <i class="bi bi-search" style="font-size: 2rem"></i>
                    </li>
                    <li class="nav-item">
                        <button type="button" class="btn btn-info bg-transparent shadow-none" data-bs-toggle="modal" data-bs-target="#exampleModal"><i
                                type="icon" class="bi bi-person-fill" style="font-size: 2rem"></i></button>
                    </li>
                    <li class="nav-item">
                        <i class="bi bi-cart-fill" style="font-size: 2rem"></i>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <section class="bg-light p-5">
        <div class="row text-start">
            <!--g-4 gives it a gap, we can have gy-->
            <div class="col-md" style="width: 20rem;">
                <div class="card-body text-center">
                    <p class="info text-secondary fs-5">Free Delivery</p>
                </div>
            </div>
            <div class="col-md" style="width: 20rem;">
                <div class="card-body text-center">
                    <p class="info text-secondary fs-5">Order Online & Collect in Store</p>
                </div>
            </div>
            <div class="col-md" style="width: 20rem;">
                <div class="card-body text-center">
                    <p class="info text-secondary fs-5">Lay-by</p>
                </div>
            </div>
        </div>
        </div>
         <!-- Button trigger modal -->
        <!-- Modal1 -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="fw-bold fs-2 modal-title" id="exampleModalLabel">Log out</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="col-auto">
                                <div class="form-check">
                                  <p class="text-primary"> We gonna miss you buddy See you soon <i class="bi bi-emoji-smile  text-warning"></i><i class="bi bi-emoji-smile  text-warning"></i></p>
                                  
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-outline-warning"><a class="text-decoration-none" href="{% url 'logOut' %}">Log Out</a></button>
                    </div>
                </div>
            </div>
        </div>
        
    </section>
    
    <section class="bg-light text-dark p-5 p-lg-0 pt-lg-5 text-center text-sm-start">
        <!--text-sm-start When the screen becomes large the text is aligned at start-->
        <!-- p-lg-0 on larger screen the laptop pic will be resting on "Sign Up For Our Newslater" -->
        <!-- pt for padding top -->
        <div class="container">
            <div class="d-flex align-items-center justify-content-between">
                <!-- d-flex for making a flex-box -->
                <!-- <div class="d-sm-flex">  We could add "sm" to maintain flexbox on small screen-->
                <!-- #Bootstrap making a flexbox THIS PART ALINGS THE h1 and img tag side by side"  -->
                <div>
                    <h1 class="fw-bold" >Get 10% off for your first <span class="text-info">buy. T&C's apply</span></h1>
                    <button class="btn btn-info btn-lg">On Promo</button>
                    <!-- the above tag has btn-primary which makes the button to be dark blue #Check on Customize->Components for more traits -->
                    <!--btn-lg sets the size of the button a little bit bigger-->
                </div>
                <!-- <img class="img-fluid w-50 d-none d-sm-block"
                /> -->
                <!--img-fluid is for making the image responsive when the screen size changes "w-50"- is the size  -->
                <!-- d-none, d for display, none will not display the image -->
                <!-- Check Utilities -> Display -->

            </div>
        </div>
    </section>
    <section>
        <div class="container py-3">
            <div class="bg-white d-md-flex justify-content-between align-items-center">
                <h3 class="fw-bold text-secondary mb-3 mb-md-0">Sign Up For Our Daily Deals</h3>
                <!-- mb-3 is margin bottom 3 check Utililities -> Notation-->
                <div class="input-group news-input">
                    {% csrf_token %}
                    <label for="email"></label>
                    <input type="text"
                           class="form-control"
                           placeholder="Enter your email" name='email'/>
                    <button type="button" class="btn btn-secondary btn-lg" data-bs-toggle="modal" data-bs-target="#Modal">
                        Sign up
                    </button>
                </div>
            </div>
        </div> 
        <!-- Button trigger modal -->
        <!-- Modal1 -->
        <div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="fw-bold fs-2 modal-title" id="ModalLabel">Sign Up</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                        <form> 
                            <div class="row mb-3">
                                <label for="usern" class="col-sm-3 col-form-label" name="usern">Username</label>
                                <div class="col-sm-7">
                                  <input type="text" class="form-control" placeholder="Enter your password" id="">
                                </div>
                              </div>
                            <div class="row mb-3">
                                <label for="first_name" class="col-sm-3 col-form-label" name='first_name'>First name</label>
                                <div class="col-sm-7"> 
                                  <input type="text" class="form-control" placeholder="Enter your name" id="">
                                </div>
                            </div>
                            <div class="row mb-3">
                              <label for="last_name" class="col-sm-3 col-form-label" name="last_name">Last name</label>
                              <div class="col-sm-7">
                                <input type="text" class="form-control" placeholder="Enter your password" id="">
                              </div>
                            </div>
                            <div class="row mb-3">
                                <label for="passw" class="col-sm-3 col-form-label" name="passw">Enter password</label>
                                <div class="col-sm-7">
                                  <input type="text" class="form-control" placeholder="Enter your password" id="">
                                </div>
                              </div> 
                            <div class="col-auto">
                                <div class="form-check">
                                  <input class="form-check-input" type="checkbox" id="autoSizingCheck" name="remember">
                                  <label class="form-check-label" for="autoSizingCheck">
                                    Remember me
                                  </label>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Signup</button>
                    </div>
                </div>
            </div>
        </div>
    
  
    </section>
    <section class="p-5">
        <div class="container">
            <div class="row text-center  g-4">
                <!--g-4 gives it a gap, we can have gy-->
                <div class="col-md" style="width: 20rem;">
                    <div class="card bg-transparent text-light">
                        <div class="card-body text-start">
                            <div class="h1 mb-3">
                                <img src="https://images.ctfassets.net/8cd2csgvqd3m/3zMbwPFhHDHkbq31CIjGdg/0e3d357d10844f4a72592ddd82bd98ca/HX_Timber_Hero.png?q=90&fm=webp&w=720&h=720&fit=fill" alt="" width=100%/>
                            </div>
                            <p class="info text-secondary">HX Headphones</p>
                            <p class="price fw-bold text-dark">
                                R500
                            </p>
            
                            <a href="#" class="btn btn-primary">Add to Cart</a>
                        </div>

                    </div>
                </div>
                <div class="col-md" style="width: 20rem;">
                    <div class="card bg-transparent text-light">
                        <div class="card-body text-start">
                            <div class="h1 mb-3">
                                <img src="https://www.hirschs.co.za/media/catalog/product/cache/5650c527889287cec4d241f33ee3fa4b/7/4/74050.jpg" alt="" width=100%/>
                            </div>
                            <p class="info text-secondary">iPad</p>
                            <p class="price fw-bold text-dark">
                                R500
                            </p>
            
                            <a href="#" class="btn btn-primary">Add to Cart</a>
                        </div>

                    </div>
                </div>
                
                <div class="col-md" style="width: 20rem;">
                    <div class="card bg-transparent text-light">
                        <div class="card-body text-start">
                            <div class="h1 mb-3">
                                <img src="https://img.joomcdn.net/e6f6ac39feaee0948419883c468e235df99860f9_original.jpeg" alt="" width=100%/>
                            </div>
                            <p class="info text-secondary">Smart Watch</p>
                            <p class="price fw-bold text-dark">
                                R500
                            </p>
            
                            <a href="#" class="btn btn-primary">Add to Cart</a>
                        </div>

                    </div>
                </div>
                <div class="col-md" style="width: 20rem ">
                    <div class="card bg-transparent text-light">
                        <div class="card-body text-start">
                            <div class="h1 mb-3">
                                <img src="https://junkmailimages.blob.core.windows.net/large/7b92c6cf935e4c3b8853bfaa582e7dda.jpg" alt="" width=240px height="220px">
                            </div>
                            <p class="info text-secondary">Dell XPS, 13-inch i7</p>
                            <p class="price fw-bold text-dark">
                                R500
                            </p>

                            <a href="#" class="btn btn-primary">Add to Cart</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
</body>

</html>
