body::before {
    display: block;
    content:"";
    height: 60px
}
@media(min-width: 760px) {
    .news-input{
        width: 50px;
    }
}
.nav-item{
    padding: 2em;
}
.d-flex{
    position: relative;
    background-image:
    url("https://images.samsung.com/is/image/samsung/assets/za/2203/galaxy-a-series/07_Cross-Device-Experience_no_asset_mo.jpg?$FB_TYPE_A_MO_JPG$");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
  }
